NEXT_PUBLIC_CREDITSOLICITATION_V1 = http://10.2.0.111:3045/api/v1/
NEXT_PUBLIC_AUTHSERVICE_V1 = http://10.2.0.111:3041/api/v1/
NEXT_PUBLIC_CONFIG_SERVICES_V1 = http://10.2.0.111:3044/api/v1/
NEXT_PUBLIC_REPORT_SERVICES_V1 =  http://10.2.0.111:3048/api/v1/
NEXT_PUBLIC_FILES_SERVICE_V1 = http://10.2.0.111:3046/api/v1/
NEXT_PUBLIC_BANK_FILES_PROCESSOR = http://10.2.0.111:3043/
NEXT_PUBLIC_DOMINIO = http://10.2.0.111:3047